
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a base font size and family */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #f8f8f8;
    background: linear-gradient(8deg,rgb(0, 0, 0),rgb(0, 0, 0),rgba(215, 21, 0, 0.9));
height: 8%;
 background-size: cover; 
}

/* Container class for centering content */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Basic styling for headings */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

/* Basic styling for paragraphs */
p {
    margin-bottom: 1rem;
}

/* Basic styling for links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgba(92, 92, 235, 0.491);
   
}

/* Basic styling for buttons */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

/* Basic styling for forms */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}
.nav{
   justify-content: center;
   align-items: center;
   justify-items: center;
   justify-content: baseline;
   background-color: #333;
   width: 100%;
   position: fixed;

}
.in{
    text-decoration: none;
    font-size: larger;
    color: #ffffff;
    font-weight: 600;
    margin: 15px;
}
#grid1{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax( 200px , 1fr));
    grid-gap: 20px;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: 30px;
   
  
    width: auto;
    height:auto;
    
}
.notes{
    background-color: #ffffff9f;
    border: #111827;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    height:250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.76);
    margin: 20px;
}
a{
    text-decoration: none;
}
span{
    font-size: x-large;
    font-weight: 500;
    color: #000000;

}
#mycon h1{
    font-size: 45px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.875);
    width: 555px;
    }
    #contact{
        position: relative;
        
        width: 90%;
       left: 10%;
        color: aliceblue;
        
        display: flex;
    }
   